{% extends "base.html" %}

{% block content %}

<div class="glass-card">

    <div class="d-flex justify-content-between mb-3">

        <h3>Users</h3>

        <a href="{% url 'user_create' %}"
           class="btn btn-success">

            Add User

        </a>

    </div>

    <form method="GET">

        <input
            type="text"
            name="search"
            class="form-control mb-3"
            placeholder="Search User">

    </form>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}

            <tr>

                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>

                <td>

                    <a href="{% url 'user_edit' user.id %}"
                       class="btn btn-warning btn-sm">

                        Edit

                    </a>

                    <a href="{% url 'user_delete' user.id %}"
                       class="btn btn-danger btn-sm">

                        Delete

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}