{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Admin Dashboard
</h2>

<div class="row g-4">

    <div class="col-md-4">

        <a href="{% url 'employee_list' %}"
           class="text-decoration-none text-dark">

            <div class="glass-card text-center h-100">
                <h5>
                    <i class="bi bi-people"></i>
                    Employees
                </h5>
                <h1>{{ total_employees }}</h1>
            </div>

        </a>

    </div>

    <div class="col-md-4">

        <div class="glass-card text-center h-100">
            <h5>
                <i class="bi bi-building"></i>
                Departments
            </h5>
            <h1>{{ department_count }}</h1>
        </div>

    </div>

    <div class="col-md-4">

        <a href="{% url 'attendance_chart' %}"
           class="text-decoration-none text-dark">

            <div class="glass-card text-center h-100">
                <h5>
                    <i class="bi bi-calendar-check"></i>
                    Present Today
                </h5>
                <h1>{{ present_today }}</h1>
            </div>

        </a>

    </div>

    <div class="col-md-6">

        <a href="{% url 'leave_list' %}"
           class="text-decoration-none text-dark">

            <div class="glass-card text-center h-100">
                <h5>
                    <i class="bi bi-hourglass-split"></i>
                    Pending Leaves
                </h5>
                <h1>{{ pending_leaves }}</h1>
            </div>

        </a>

    </div>

    <div class="col-md-6">

        <a href="{% url 'reports' %}"
           class="text-decoration-none text-dark">

            <div class="glass-card text-center h-100">
                <h5>
                    <i class="bi bi-cash-stack"></i>
                    Payroll Records
                </h5>
                <h1>{{ payroll_records }}</h1>
            </div>

        </a>

    </div>

</div>

{% endblock %}
