{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">

    Welcome, {{ employee.user.username }} 👋

</h2>

<div class="glass-card mb-4">

    <h4>{{ employee.user.username }}</h4>

    <p class="mb-1">

        <strong>Department:</strong>
        {{ employee.department }}

    </p>

</div>

<div class="row g-4">

    <div class="col-md-4">

        <div class="glass-card text-center">

            <h6>📅 Attendance</h6>

            <h2>
                {{ attendance_count }}
            </h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="glass-card text-center">

            <h6>🏖 Leave Requests</h6>

            <h2>
                {{ leave_count }}
            </h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="glass-card text-center">

            <h6>💰 Payroll Records</h6>

            <h2>
                {{ payroll_count }}
            </h2>

        </div>

    </div>

</div>



{% endblock %}